/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  display: grid;
  place-content: center;
}

/* .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
